
@{
    ViewBag.Title = "Index";
}

<div class="text-center" id="banner">
    <img src="~/Content/images/logo-dark.jpg" />
</div>

<div class="text-center titulo">
    <h1>VANTAGENS</h1>
</div>

<div class="col-md-12" id="vantagens">
    <div class="col-md-3">
        <div class="card-vantagem">
            <div class="text-center">
                <img class="icone-preto" src="~/Content/images/tomada_bola.png" />
            </div>
            <div class="text-vantagem">
                <p>Fique por dentro do que seus adversários estão fazendo!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-vantagem">
            <div class="text-center">
                <img src="~/Content/images/jogador2.png" />
            </div>
            <div class="text-vantagem">
                <p>Tenha todos os dados do seu jogador especial em um só lugar!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-vantagem">
            <div class="text-center">
                <img src="~/Content/images/estatistica.png" />
            </div>
            <div class="text-vantagem">
                <p>Centralize as estastísticas de todas as partidas que já aconteceram e fique por dentro de tudo!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-vantagem">
            <div class="text-center">
                <img src="~/Content/images/campo.png" />
            </div>
            <div class="text-vantagem">
                <p>Quando houver bola na rede, você saberá como ninguém! Todos os movimentos atualizados em um só lugar!</p>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

@section Styles{
    <link href="~/Content/css/home.css" rel="stylesheet" />
}

@section Scripts{

}


