@model Esportiva.Models.TimeViewModel
@{
    ViewBag.Title = "Adversários";
}

<input type="hidden" id="codigo-time" value="@Model.codigoTime" />
<div class="titulo-times">
    <p>
        ADVÉRSARIOS
        <a class="habilita-tooltip" data-toggle="tooltip" data-original-title="Novo" data-placement="right" id="btn-novo-adversario">
            <i class="fa fa-plus"></i>
        </a>
    </p>
</div>

<hr />

<div id="partial-adversarios" class="table-responsive">
    @Html.Partial("Adversarios/_AdversariosPartial", Model.Times)
</div>

@Html.Partial("../Administrativo/Time/_ModalNovoTimePartial")
@Html.Partial("Adversarios/_ModalExcluiAdversarioPartial")

<div class="text-center">
    <a href="/Administrativo/EditarTime?codigoTime=@Model.codigoTime" class="btn btn-primary" data-original-title="" title="">VOLTAR</a>
</div>

@section Styles{
    <link href="~/Content/css/times.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Escalacao/adversario.js"></script>
}