@model List<Esportiva.Models.TimeModel>
@{
    ViewBag.Title = "Meus Times";

    var quantidadeTimes = Model.Count == 0 ? "" : "(" + Model.Count.ToString() + ")";
}

<input type="hidden" id="qtd-time" value="@Model.Count" />
<div class="titulo-times">
    <p>MEUS TIMES @quantidadeTimes
    @if (Model.Count < 1)
    {
        <a data-toggle="tooltip" data-original-title="Novo" data-placement="right" id="btn-novo-time">
            <i class="fa fa-plus"></i>
        </a>
    }   
    </p>
</div>

<hr />

<div id="meus-times">
    @Html.Partial("Time/_TimesPartial", Model)
</div>

@Html.Partial("Time/_ModalNovoTimePartial")
@Html.Partial("Time/_ModalExcluiTimePartial")

@section Styles{
    <link href="~/Content/css/times.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Administrativo/Times/index.js"></script>
}


