<div class="modal fade" id="modal-excluir-jogador" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="titulo-padrao">
                    Excluir Jogador
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <p class="">Você tem certeza que deseja excluir esse jogador?</p>
                <input type="hidden" id="id-jogador" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-padrao" id="btn-excluir-jogador">Sim</button>
            </div>
        </div>
    </div>
</div>


