@model List<Esportiva.Models.JogadorModel>

@{
    ViewBag.Title = "Meus Jogadores";
}

<div class="titulo-times">
    <p>
        MEUS JOGADORES
        <a data-toggle="tooltip" data-original-title="Novo" id="btn-novo-jogador" data-placement="right">
            <i class="fa fa-plus"></i>
        </a>
    </p>
</div>
<hr />

<div id="partial-jogadores">
    @Html.Partial("Jogador/_JogadoresPartial", Model)
    <br />
</div>

<div class="text-center">
    <a href="/Administrativo/Time" class="btn btn-primary">VOLTAR</a>
</div>

@Html.Partial("Jogador/_ModalNovoJogadorPartial")
@Html.Partial("Jogador/_ModalExcluirJogadorPartial")

@section Styles{
    <link href="~/Content/css/times.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Escalacao/jogador.js"></script>
}

